@charset "UTF-8";
html {
    font-size: 90%;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Navigation Styling */

.logo h1{
    font-size: 2rem;
    color: #ddd;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: transparent;

}
nav ul{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}
nav ul li a:hover{
    color: crimson;
}

/* provider styling */

.provider__page h1{
    text-align: center;
    margin-top: 100px;
    color: crimson;
}
.provider__page hr{
    height: 0;
    margin-top: 0;
    width: 550px;
    background-color: #ddd;
    border: 1px #ddd solid;
}

.side__bar{
    margin-top: 70px;
    margin-right: 50px;
    float: right;
    margin-bottom: 100px;
}

.side__bar h2{
    margin-bottom: 20px;
}

.side__bar ul{
    display: flex;
    justify-content: space-between;
}

.side__bar ul:hover{
    background-color: #ddd;
    cursor: pointer;
}

.side__bar ul li{
    list-style: none;
    padding: 8px;
}

.side__bar ul li button{
    padding: 8px 30px;
    border: 1px #ddd solid;
    border-radius: 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 1.4rem;
}

.side__bar img{
    width: 20px;
    cursor: pointer;
}

.side__bar ol{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.left__side__bar{
    float: left;
    margin-top: 70px;
    margin-left: 50px;
}

.left__side__bar h2{
    margin-bottom: 20px;
}

.left__side__bar ul li{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

